/* About Us Section */
#about {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    background: linear-gradient(0deg, #060604, #333);
}

.about-container {
    width: 90%;
    height: 100%;
    margin: auto;
}

.about-content-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-content {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
}

.about-container h3 {
    display: flex;
    flex-direction: row;
    width: 20%;
    color: var(--special-fonts-color);
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.about-container h3::before {
    content: '';
    flex: 1 1;
    border-bottom: 2px solid;
    margin: auto;
    margin-right: 10px;
}

.about-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

/* hero */
.about-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.about-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.about-box:hover {
    transform: translateY(-5px) scale(1.1); 
    background-color: #f0f8ff;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.about-box:nth-child(even){
    flex-direction: row-reverse;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.text-container h1 {
    font-size: 2rem; 
    color: #333;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

.img-container {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.img-container .responsive-img {
    width: 200px;
    height: auto;
    border-radius: 9999px;
    transition: transform 0.3s;
}

.img-container .responsive-img:hover {
    transform: scale(1.05); 
}