/* contact section */
#contact{
    background: linear-gradient(180deg, #060604, #fff);
    padding: 100px;
    padding-bottom: 200px;
}

.contact-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 40px auto;
}

.contact-container .calendarheader{
    padding: 10px;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-container h1 {
    text-align: center;
    color: #333;
}

.contact-container .calendar {
    text-align: center;
    margin-top: 20px;
}

.contact-container .calendar a:hover {
    background-color: #0056b3;
}
