/* contact section */
#contact{
    background: linear-gradient(180deg, #060604, #fff);
    padding: 100px;
    padding-bottom: 200px;
}

#contact .contact-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
}

#contact .contact-container .calendarheader{
    padding: 10px;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#contact .contact-container h1 {
    text-align: center;
    color: #ff4081;
    font-size: 2rem;
}

#contact .contact-container p {
    text-align: center;
    padding: 5px;
}

#contact .contact-container p:nth-child(1) {
    text-align: center;
    margin-top: 0px;
} 

#contact .contact-container .calendar {
    text-align: center;
    padding: 10px;
}
