/* partner section  */
#partner {
    width: 100%;
    height: 60vh;
    background: linear-gradient(0deg, #060604, #fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

#partner .content {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#partner h1{
    font-size: 2.5rem; 
    text-align: center;
    color: #333;
    margin: 10px 0; 
}

#partner h3 {
    font-size: 1.2rem; 
    text-align: center;
    color: #666; 
    margin: 10px 0;
}

.partner-container {
    width: 70%;
    height: auto; 
    margin: 20px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-box {
    margin: 0 2rem;
}

.partner-box img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.partner-box img:hover {
    transform: scale(1.05); 
}