@import url('./nav.css');
@import url('./header.css');
@import url('./service.css');
@import url('./about.css');
@import url('./portfolio.css');
@import url('./contact.css');
@import url('./partner.css');
@import url('./footer.css');
@import url('./media.css');

/* css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* variables  */
:root {
    --primary-color: black;
    --secondary-color: white;
    --third-color: #060604;
    --btn-color-background: #ff2143;
    --btn-secondary-background: #0b2416;
    --special-fonts-color: #eb566c;
    --nav-poppins-fonts-family: 'Poppins', sans-serif;
    --heading-roboto-fonts-family: 'Roboto', sans-serif;
    --heading-sarabun-fonts-family: 'Sarabun', sans-serif;
    --hero-button-bg-color: #3498db;
    --hero-button-hover-bg-color: #155884;
}